body {
    font-family: 'Lato', sans-serif;
    background-image: url("images/henry-co--odUkx8C2gg-unsplash.jpg");
    background-size: 1250px;
    background-color: #fcfcfc;
    color: #4a433d;
}

h1 {
    font-family: 'Bad Script', cursive;
    font-size:50px;
    text-align: center;
    background-color: #97b1d2;
    color: #4a433d;
}

h2 {
    font-family: 'Bad Script', cursive;
    font-size: 35px;
    text-align: center;
    background-color: #97b1d2;
    color: #4a433d; 
}

/* Style the navigation menu */
.topnav {
    width: 100%;
    background-color: #dd7450;
    height: 35px;
    overflow: auto;
  }
  
/* Navigation links */
.topnav a {
font-family: 'Lato', sans-serif;
float: left;
padding: 10px;
color: #4a433d;
text-decoration: none;
font-size: 15px;
width: 20%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
text-align: center; /* If you want the text to be centered */
}

/* Add a background color on mouse-over */
.topnav a:hover {
background-color: #97b1d2;
}

/* Style the current/active link */
.navbar a.active {
background-color: #04AA6D;
}

figure {
    display:inline-flex;
}

/* Two image containers (use 33.3% for three, and 25% for four, etc) */
.column {
    float: left;
    width: 46%;
    padding: 5px;
  }
  
/* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
  }

.image-portrait {
    overflow: hidden;
    perspective: 1px;
    /*border: 10px solid #EFAA52;*/
    border-radius: 150%;
    position: absolute;
    margin-top:100px;
    margin-left: 250px;
    z-index: -1;
}
/* ****** about page ****** */
.about-statement {
    background-color:#e3e3e1 ;
    margin: 50px;
    justify-content: center;
}

.links {
    margin-top: 25px;
    background-color: #dd7450;
    padding: 10px;
}

/* ****** hobbies page ****** */
.caption {
    text-align: center;
}

.hobbies-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 25px;
    column-gap: 5px;
    background-color:#e3e3e1 ;
}

.experience-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 25px;
    column-gap: 5px;
    background-color: #e3e3e1;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.experience-title {
    color: #D6D9F0;
    background-color: #dd7450;
    /*text-align: center;*/
}

.hobby-title {
    color: #D6D9F0;
    background-color: #dd7450;
    text-align: center;
}

.experience {
    border: 3px solid;
    border-color: #3d3d3d;
    border-radius: 15px;
    padding: 15px;
    text-align: center;
}

.hobby {
    border: 3px solid;
    border-color: #3d3d3d;
    border-radius: 15px;
    padding: 15px;
    text-align: center;
}

/* end of hobbies page */

.image-2 {
    border-radius: 75%;
    position: relative;
    width: 250px;
    height: auto;
    transform: skewY(335deg);
    margin-top: 225px;
    margin-left: 0px;
    z-index: 1;
}

.flexcontainer {
    display:flex;
    justify-content: space-evenly;
}

.flexcontainer-2 {
    display: block;
    justify-content: space-evenly;
    width:100%;
    text-align: center;
    margin-top: 30px;
    padding: 25px;
}

.flexcontainer .links {
    flex-wrap: wrap;
    justify-content: space-evenly;
}

a {
    color: #AE31C4;
}

ul {
    margin-left: 300px;
}

.about-link {
    color: #fcfcfc;
}

.artGallery-link {
    color:#f9faf9
}
/* ******** resume page ********** */
.image-resume {
    /*background-color: #F8F3E6;*/
    color: #48120E;
    padding: 15px;
    margin-left: 250px;
}

.image-10{
    /*position: absolute;*/
    float: left;
    
}

.bio-statement {
    color: black;
}

/* */

.image-11-and-quote {
    margin-top: 25px;
    background-color: #AE31C4;
    color: black;
    padding: 15px;
}

.image-11 {
    float: left;
    margin-left: 25px;
    
}


.quote-1 {
    margin-top: 225px;
    color: black;
    
}

/* */

.image-12-and-quote {
    margin-top: 25px;
    background-color: #3680DB;
    color: black;
    padding: 15px;
}

.image-12 {
    float: left;
    margin-left: 25px;
    
}


.quote-2 {
    margin-top: 25px;
    color: black;
    padding: 100px;
}

/* */

.image-13-and-quote {
    margin-top: 25px;
    background-color: #86DC56;
    color: black;
    padding: 15px;
}

.image-13 {
    float: left;
    margin-left: 25px;
    
}


.quote-3 {
    margin-top: 25px;
    color: black;
    padding: 125px;
}

/* */

.image-14-and-quote {
    margin-top: 25px;
    background-color: #AE31C4;
    color: black;
    padding: 15px;
}

.image-14 {
    float: left;
    margin-left: 25px;
    
}


.quote-4 {
    margin-top: 25px;
    color: black;
    padding: 100px;
}



.image-11 {
    background-color: #AE31C4;
    padding: 25px;
    margin-top: 50px;
}

/* ******* gallery page ******** */

.image-gallery {
    background-color: #3680DB;
}

.footer {
    background-color: black;
    padding: 25px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

li {
    float: center;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 5px;
    text-decoration: none;
}

li a:hover {
    background-color: #AE31C4;
}